* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

/* slider page css */
header {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 50px;
}

header nav {}

.navigation {
    display: table;
}

.brand-logo {
    display: table-cell;
    width: 100%;
}

.brand-logo a {
    font-family: Montserrat;
    font-size: 36px;
    color: #2D2D2D;
    text-transform: uppercase;
    text-decoration: none;
}

.brand-logo a b {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
}

.contact-btn {
    text-align: right;
    width: 140px;
    display: block;
    float: right;
    position: relative;
    top: 7px;
}

.contact-btn a {
    background: #1073B9;
    text-transform: capitalize;
    border-radius: 3px;
}

.slider {
    height: 100vh;
    overflow: hidden;
}

.slider ul {
    height: 100%;
}

.slider ul li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}


.slider-contant {
    position: relative;
    z-index: 1;
    top: 220px;
    width: 680px;
}

.slider-contant h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 60px;
    color: #606060 !important;
    pointer-events: none;
}

.font-size-sm {
    width: auto;
}

.font-size-sm {
    width: 800px;
}

.font-size-sm h2 {
    font-size: 30px;
    line-height: 45px;
}

.position-relative {
    position: relative;
}

.dotnav-position {
    left: 15px;
    bottom: 180px;
    position: absolute;
    width: 100%;
}

.dotnav-position ul {}

.dotnav-position ul li {
    padding-right: 10px;
    padding-left: 0;
}

.dotnav-position ul li a {
    background-color: #fff !important;
    width: 25px;
    border-radius: 0;

    height: 5px;
    opacity: 0.6;
}

.uk-dotnav>.uk-active>* {
    background-color: #1073B9 !important;
    opacity: 1 !important;
    ;
}

/* ******************************************** */
/* contact-page */
/* ******************************************** */
html,
body {
    background-image: url(../images/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.contact-sec {
    margin-top: 230px;
}

.contact-sec hr {
    color: #1073B9;
    background: #1073B9;
    height: 2px;
    border: none;
    width: 550px;
    margin-bottom: 50px;
    margin-top: 0;
}

.contact-sec h2 {
    font-size: 36px;
    line-height: 21px;
    color: #3C3C3C;
    font-weight: normal;
}

.contact-item {
    display: table;
    margin-bottom: 15px;
}

.contact-item p {
    width: 100%;
    display: table-cell;
    font-size: 18px;
    color: #616161;
    line-height: 32px;
    font-weight: 500;
}

.contact-item p a {
    color: inherit;
    text-decoration: none;
}

.contact-icon {
    width: 35px;
    text-align: center;
    margin-right: 15px;
}

.contact-icon i {
    font-size: 25px;
    color: #1073B9;
    position: relative;
    top: 4px;
}

.location {
    font-size: 30px !important;
    top: 15px !important;
}

.contact-title {
    margin-top: 50px;
}

.mb-lg {
    margin-bottom: 100px;
}

.contact-title p {
    color: #3C3C3C;
    font-size: 24px;
    line-height: 21px;
}